Repository PaperStrange/TourGuideAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/security-team, @TourGuideAI/frontend-team, @TourGuideAI/backend-team, @TourGuideAI/tech-writers, @TourGuideAI/tech-leads

Fix: fix cicd health check failures
  .github/workflows/mvp-release.yml
  README.md
  docs/project_lifecycle/version_control/records/project.versions.md
  server/coverage/clover.xml
  server/coverage/lcov-report/index.html
  server/coverage/lcov.info
Owners: @TourGuideAI/devops-team, @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/backend-team

Fix: fix CICD health check config
  .github/workflows/mvp-release.yml
Owners: @TourGuideAI/devops-team

Fix: add api call rate limit
  server/mvp-server.js
Owners: @TourGuideAI/backend-team

Fix: enhance deployment script, install dependencies before running MVP core tests
  scripts/deploy-mvp.sh
Owners: @TourGuideAI/developers

Fix: fix security scan in deplyment script
  scripts/deploy-mvp.sh
Owners: @TourGuideAI/developers

Add MVP release workflow and deployment script for TourGuideAI
  .github/workflows/mvp-release.yml
  scripts/deploy-mvp.sh
Owners: @TourGuideAI/devops-team, @TourGuideAI/developers

chore(iteration): split planning assets by lifetime and start the iteration branch
  .gitignore
  docs/handOff/README.md
  docs/handOff/evidence/CLAUSES-verbatim.md
  docs/handOff/evidence/SOURCES-plaintext.txt
  docs/handOff/evidence/geofabrik-japan.html
  docs/handOff/evidence/google-maps-service-terms.html
  docs/handOff/evidence/google-places-billing.html
  docs/handOff/evidence/gsi-kiban.txt
  docs/handOff/evidence/gsi-law-2930.txt
  docs/handOff/evidence/mlit-ksj-agreement.txt
  docs/handOff/evidence/odpt-developer.html
  docs/handOff/evidence/osm-copyright-odbl.html
  docs/handOff/evidence/osm-nominatim-policy.html
  docs/handOff/evidence/osm-tile-usage-policy.html
  docs/handOff/evidence/plateau-faq.txt
  docs/handOff/evidence/plateau-geospatial-kyoto-2025.txt
  iteration/design/README.md
  iteration/design/appendix-visual-and-ui-spec.md
  iteration/design/architecture-server-current-state.md
  iteration/design/contract-geo-pipeline.md
  iteration/design/design-core.md
  iteration/recon/README.md
  iteration/recon/gap-analysis-and-plan.md
  iteration/recon/recon-2.5d-game-research.md
  iteration/recon/recon-codebase-salvage.md
  iteration/recon/sections/q1q3-art-and-tooling.md
  iteration/recon/sections/q2-engines.md
  iteration/recon/sections/q4q6-hardproblems-scope.md
  iteration/reference/DSH-PLUGINS-FOR-2.5D.md
  iteration/reference/Q5_ai_in_the_loop.md
  iteration/reference/README.md
  iteration/reference/research-plan-jobs1.txt
  iteration/tools/fix-relative-links.mjs
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

docs(iteration): record the 16-block ground split, the multilingual export-contract requirement, and the located requirement prototype
  iteration/design/design-core.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(iteration): restore and rewrite both indexes, repoint stale paths after the move
  docs/handOff/README.md
  iteration/README.md
  iteration/design/design-core.md
  iteration/recon/gap-analysis-and-plan.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

revert(handOff): drop the index the user deleted on purpose
  docs/handOff/README.md
Owners: @TourGuideAI/tech-writers

feat(iteration): derive the projection origin from measurement, and let the cross-check catch the mismatch
  iteration/recon/_fetch/LA/here-legal.html
  iteration/recon/_fetch/LA/html2txt.ps1
  iteration/recon/_fetch/LA/ta-contentapi-overview.html
  iteration/recon/_fetch/LA/ta-developers.html
  iteration/recon/_fetch/LA/tomtom-terms.html
  iteration/recon/_fetch/tabelog-tos.html
  iteration/recon/_raw-review-zh/ALL-plaintext.txt
  iteration/recon/_raw-review-zh/bilibili-protocol.html
  iteration/recon/_raw-review-zh/ctrip-picturerule.html
  iteration/recon/_raw-review-zh/ctrip-statement.html
  iteration/recon/_raw-review-zh/dianping-meituan-terms.html
  iteration/recon/_raw-review-zh/fliggy-terms.html
  iteration/recon/_raw-review-zh/mafengwo-agreement-iwr.html
  iteration/recon/_raw-review-zh/mafengwo-agreement.html
  iteration/recon/_raw-review-zh/qunar-statement.html
  iteration/recon/_raw-review-zh/qyer-member.html
  iteration/recon/_raw-review-zh/weixin-mp-terms.html
  iteration/recon/_raw-review-zh/wikivoyage-zh-copyright.html
  iteration/recon/_raw-review-zh/wikivoyage-zh-mainpage.html
  iteration/recon/_raw-review-zh/xiaohongshu-agreement.html
  iteration/recon/_raw-review-zh/zhihu-terms.html
  iteration/tools/freeze-origin.mjs
Owners: @TourGuideAI/developers

fix(iteration): clear the last 2000-era numbers, correct the origin wording, and stop freeze-origin.mjs from hardcoding the corridor length
  iteration/README.md
  iteration/design/appendix-visual-and-ui-spec.md
  iteration/design/contract-geo-pipeline.md
  iteration/design/design-core.md
  iteration/tools/freeze-origin.mjs
  iteration/tools/patch-origin-record.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(iteration): GAP-6 lands as an ODbL file split, and two of my own coordinate errors are corrected
  city-packs/kyoto-shijo/doors.json
  city-packs/kyoto-shijo/evidence/osm-block-q1-footprints.json
  city-packs/kyoto-shijo/evidence/osm-block-q2-everything.json
  city-packs/kyoto-shijo/kyoto-shijo-osm.json
  city-packs/kyoto-shijo/validate-doors.mjs
  iteration/design/design-core.md
  iteration/tools/freeze-origin.mjs
  iteration/tools/split-odbl.mjs
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

chore(iteration): drop the temporary commit-message file
  iteration/tools/_commitmsg.txt
Owners: @TourGuideAI/developers

feat(city-pack): build the CC BY 4.0 attribution record the licence election requires
  city-packs/kyoto-shijo/doors.json
  city-packs/kyoto-shijo/evidence/tools/add-coordinate-twins.mjs
  city-packs/kyoto-shijo/evidence/tools/block-doors.json
  city-packs/kyoto-shijo/evidence/tools/drop-dangling-legs.mjs
  city-packs/kyoto-shijo/evidence/tools/fix-place-keys.mjs
  city-packs/kyoto-shijo/evidence/tools/merge-pack-meta.mjs
  city-packs/kyoto-shijo/evidence/tools/ungeoreferenced-legs.meta.json
  city-packs/kyoto-shijo/evidence/tools/ungeoreferenced-to-pack.mjs
  city-packs/kyoto-shijo/evidence/tools/ungeoreferenced.meta.json
  city-packs/kyoto-shijo/pack.json
  city-packs/kyoto-shijo/places.json
  city-packs/kyoto-shijo/transit.json
Owners: @TourGuideAI/developers

fix(city-pack): the pack validator could not be run the way its own document says to run it
  LICENSE
  city-packs/kyoto-shijo/attestations/block-doors.json
  city-packs/kyoto-shijo/attestations/dropped-legs.json
  city-packs/kyoto-shijo/attestations/source-attestations.json
  city-packs/kyoto-shijo/attestations/ungeoreferenced-places.json
  city-packs/kyoto-shijo/evidence/tools/build-pack.mjs
  city-packs/kyoto-shijo/evidence/tools/classify-freshness.mjs
  city-packs/kyoto-shijo/evidence/tools/drop-dangling-legs.mjs
  city-packs/kyoto-shijo/evidence/tools/extract-nonfact-rows.mjs
  city-packs/kyoto-shijo/evidence/tools/merge-pack-meta.mjs
  city-packs/kyoto-shijo/evidence/tools/restore-parked-records.mjs
  city-packs/kyoto-shijo/evidence/tools/ungeoreferenced-to-pack.mjs
  city-packs/kyoto-shijo/pack.json
  city-packs/kyoto-shijo/validate-city-pack-v2.mjs
  city-packs/kyoto-shijo/validate-doors.mjs
Owners: @TourGuideAI/developers

fix(ci): track the three measurement records the gates read, found by a mechanical sweep
  .gitignore
  iteration/tools/find-untracked-deps.mjs
Owners: @TourGuideAI/developers

fix(ci): the three load-bearing records were still excluded by a gitignore trap
  .gitignore
  docs/handOff/archive/corpora/geo-japan/kyoto-slice-measurement-summary.json
  docs/handOff/archive/corpora/geo-japan/kyoto-slice-origin-candidate.json
  docs/handOff/archive/corpora/geo-japan/kyoto-slice-overpass.json
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

test: probe
  .gitattributes
Owners: @TourGuideAI/developers

fix(gates): report the verdict line, not whichever line happened to be last
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

fix(gates): choose the summary line by exit code, not by grepping for FAIL
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

fix(vcs): track the project's own normative spec, which a clean checkout did not have
  .dsh/skills/tourguide-fact-integrity/SKILL.md
  .gitignore
  iteration/recon/verify-kyoto-shijo/v1-raw-csv.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

chore(vcs): a measured branching model, and the six defects that measuring it exposed
  .github/workflows/branch-protection.yml
  .github/workflows/ci-cd.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/fact-integrity.yml
  .github/workflows/security-scan.yml
  CONTRIBUTING.md
  docs/project.document-inventory.md
  docs/project_lifecycle/all_tests/references/project.test-scenarios.md
  docs/project_lifecycle/all_tests/references/project.test-user-story.md
  docs/project_lifecycle/process_monitors/records/project.workflow-checklists.md
  iteration/design/branching-model.md
  iteration/recon/_raw-review-zh/meituan-user-agreement.docx.txt
  iteration/recon/_raw-review-zh/meituan-user-agreement.txt
  iteration/recon/verify-kyoto-shijo/v2-output.json
  iteration/recon/verify-kyoto-shijo/v2-places-transit.mjs
  iteration/tools/_m.txt
Owners: @TourGuideAI/devops-team, @TourGuideAI/tech-writers, @TourGuideAI/developers

chore: drop temp message file
  iteration/tools/_m.txt
Owners: @TourGuideAI/developers

docs(vcs): a defect registry, and a machine behind every rule that can have one
  .github/workflows/README.md
  city-packs/kyoto-shijo/attestations/verification-verifier.json
  iteration/README.md
  iteration/design/repo-defect-registry.md
  iteration/recon/verify-kyoto-shijo/v3-fact-table.mjs
  iteration/recon/verify-kyoto-shijo/v3-facttable.json
  iteration/recon/verify-kyoto-shijo/v4-coverage-and-ways.mjs
  iteration/recon/verify-kyoto-shijo/v5-remaining-sources.mjs
  iteration/recon/verify-kyoto-shijo/v6-check-attestation.mjs
  iteration/tools/check-repo-hygiene.mjs
  iteration/tools/find-untracked-deps.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(gates): the two new checkers must report ENV, not crash, outside a git tree
  iteration/recon/fact-verification-kyoto-shijo.md
  iteration/tools/check-repo-hygiene.mjs
  iteration/tools/find-untracked-deps.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(registry): six fact-layer defects from the independent verification enter the registry
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(gates): a summary that hides a skip count reads as a complete run
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

feat(tools): generate the workflows README from the files on disk, per branch
  .github/workflows/README.md
  iteration/tools/sync-workflows-readme.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs: record the measured outcome of the three branch tasks
  iteration/design/branching-model.md
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(hooks): mechanise the git discipline I had only written down
  .github/workflows/README.md
  iteration/design/repo-defect-registry.md
  iteration/tools/check-branch-sync.mjs
  iteration/tools/check-repo-hygiene.mjs
  iteration/tools/install-hooks.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(facts): D-14 closed, and the class behind it now has a gate
  .github/dependabot.yml
  city-packs/kyoto-shijo/places.json
  iteration/design/legacy-code-map.md
  iteration/design/repo-defect-registry.md
  iteration/tools/check-source-alignment.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/devops-team, @TourGuideAI/developers, @TourGuideAI/tech-writers

fix(ci): three reasons the gates failed in real CI while passing everywhere locally
  iteration/tools/check-repo-hygiene.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

fix(branch-sync): never throw, and treat a missing counterpart as unfetched, not diverged
  iteration/tools/check-branch-sync.mjs
Owners: @TourGuideAI/developers

fix(branch-sync): a git tree with no local branches is still a git tree
  iteration/tools/check-branch-sync.mjs
Owners: @TourGuideAI/developers

fix(gates): a skipped assertion must not count as a passed one
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

docs(board): a delivery board, because the plan lived only in conversation
  iteration/design/delivery-board.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(registry): D-23 duplicate evidence with split citations, and D-14 moves to AUTOMATED
  city-packs/kyoto-shijo/evidence/odbl-1.0-text.html
  city-packs/kyoto-shijo/evidence/odbl-1.0-text.txt
  city-packs/kyoto-shijo/evidence/osm-copyright.html
  city-packs/kyoto-shijo/evidence/osm-copyright.txt
  city-packs/kyoto-shijo/evidence/osm-temple-chionin.json
  city-packs/kyoto-shijo/evidence/osm-temple-kenninji.json
  city-packs/kyoto-shijo/evidence/osm-temple-kiyomizu.json
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

feat(facts): task-12 closes the fact layer at 22 places / 9 legs, 10/10 gates
  city-packs/kyoto-shijo/attestations/dropped-legs.json
  city-packs/kyoto-shijo/attestations/source-attestations.json
  city-packs/kyoto-shijo/attestations/ungeoreferenced-places.json
  city-packs/kyoto-shijo/attestations/verification-verifier.json
  city-packs/kyoto-shijo/evidence/kyoto-kotsu-fare-bus-teiki.html
  city-packs/kyoto-shijo/evidence/kyoto-kotsu-fare-bus-teiki.txt
  city-packs/kyoto-shijo/evidence/tools/.build-before.json
  city-packs/kyoto-shijo/evidence/tools/apply-f2-corrections.mjs
  city-packs/kyoto-shijo/evidence/tools/apply-tracked-corrections.mjs
  city-packs/kyoto-shijo/evidence/tools/build-osm-places.mjs
  city-packs/kyoto-shijo/evidence/tools/build-pack.mjs
  city-packs/kyoto-shijo/evidence/tools/check-build-lossless.mjs
  city-packs/kyoto-shijo/evidence/tools/merge-pack-meta.mjs
  city-packs/kyoto-shijo/evidence/tools/places.meta.json
  city-packs/kyoto-shijo/evidence/tools/restore-parked-records.mjs
  city-packs/kyoto-shijo/evidence/tools/restore-temple-legs.mjs
  city-packs/kyoto-shijo/evidence/tools/source-alignment-triage.json
  city-packs/kyoto-shijo/evidence/tools/ungeoreferenced-legs.meta.json
  city-packs/kyoto-shijo/evidence/tools/ungeoreferenced.meta.json
  city-packs/kyoto-shijo/kyoto-shijo-osm-places.json
  city-packs/kyoto-shijo/pack.json
  city-packs/kyoto-shijo/places.json
  city-packs/kyoto-shijo/transit.json
  city-packs/kyoto-shijo/validate-city-pack-v2.mjs
  iteration/design/delivery-board.md
  iteration/recon/verify-kyoto-shijo/v10-live-osm.mjs
  iteration/recon/verify-kyoto-shijo/v7-probe.json
  iteration/recon/verify-kyoto-shijo/v7-streetlevel-probe.mjs
  iteration/recon/verify-kyoto-shijo/v8-frontage.mjs
  iteration/recon/verify-kyoto-shijo/v9-tenant-sources.mjs
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

fix(hygiene): R7 is informational, because a fresh clone can never satisfy it
  iteration/tools/check-repo-hygiene.mjs
Owners: @TourGuideAI/developers

.github/CODEOWNERS:

# TourGuideAI CODEOWNERS File
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
*                   @TourGuideAI/developers

# Infrastructure and workflow files
.github/workflows/   @TourGuideAI/devops-team
terraform/           @TourGuideAI/devops-team
docker/              @TourGuideAI/devops-team
*.yml                @TourGuideAI/devops-team

# Security sensitive areas
/auth/               @TourGuideAI/security-team
/src/utils/security/ @TourGuideAI/security-team
/server/api/auth/    @TourGuideAI/security-team

# Frontend components
/src/components/     @TourGuideAI/frontend-team
/src/pages/          @TourGuideAI/frontend-team
/styles/             @TourGuideAI/frontend-team

# Backend services
/server/             @TourGuideAI/backend-team
/api/                @TourGuideAI/backend-team
/database/           @TourGuideAI/backend-team

# Documentation
*.md                 @TourGuideAI/tech-writers @TourGuideAI/developers
/docs/               @TourGuideAI/tech-writers

# Special branch naming patterns
# Feature branches require review from both developers and the relevant team
feat-*               @TourGuideAI/developers @TourGuideAI/tech-leads

# Release branches require additional review and are critical
release-*            @TourGuideAI/developers @TourGuideAI/devops-team @TourGuideAI/tech-leads
