Repository PaperStrange/TourGuideAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/security-team, @TourGuideAI/frontend-team, @TourGuideAI/backend-team, @TourGuideAI/tech-writers, @TourGuideAI/tech-leads

.github/CODEOWNERS:

# TourGuideAI CODEOWNERS File
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
*                   @TourGuideAI/developers

# Infrastructure and workflow files
.github/workflows/   @TourGuideAI/devops-team
terraform/           @TourGuideAI/devops-team
docker/              @TourGuideAI/devops-team
*.yml                @TourGuideAI/devops-team

# Security sensitive areas
/auth/               @TourGuideAI/security-team
/src/utils/security/ @TourGuideAI/security-team
/server/api/auth/    @TourGuideAI/security-team

# Frontend components
/src/components/     @TourGuideAI/frontend-team
/src/pages/          @TourGuideAI/frontend-team
/styles/             @TourGuideAI/frontend-team

# Backend services
/server/             @TourGuideAI/backend-team
/api/                @TourGuideAI/backend-team
/database/           @TourGuideAI/backend-team

# Documentation
*.md                 @TourGuideAI/tech-writers @TourGuideAI/developers
/docs/               @TourGuideAI/tech-writers

# Special branch naming patterns
# Feature branches require review from both developers and the relevant team
feat-*               @TourGuideAI/developers @TourGuideAI/tech-leads

# Release branches require additional review and are critical
release-*            @TourGuideAI/developers @TourGuideAI/devops-team @TourGuideAI/tech-leads

Docs: delete useless folder
  test-results/.last-run.json
Owners: @TourGuideAI/developers

Docs: delete useless folder
  test-results/.last-run.json
Owners: @TourGuideAI/developers

Docs: remove blank folder
  README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Docs: delete duplicated file
  LICENSE.txt
Owners: @TourGuideAI/developers

Fix: address security vulnerabilities and improve build stability by implementing dependency overrides, enhancing file operation safety, and updating GitHub Actions workflow
  .github/workflows/security-scan.yml
  docs/project_lifecycle/code_and_project_structure_refactors/records/project.refactors.md
  docs/project_lifecycle/knowledge/project.lessons.md
  package-lock.json
  package.json
  scripts/generate-keys.js
  scripts/utils/test-script-template.js
  server/utils/tokenProvider.js
  server/utils/vaultService.js
Owners: @TourGuideAI/devops-team, @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/backend-team

Update: add patch-package and postinstall-postinstall dependencies to manage local patches and improve post-installation processes
  docs/project_lifecycle/code_and_project_structure_refactors/plans/project.refactors.cra-migration-plan.md
  docs/project_lifecycle/code_and_project_structure_refactors/records/project.refactors.md
  docs/project_lifecycle/knowledge/project.lessons.md
  package-lock.json
  package.json
  patches/nth-check+2.1.1.patch
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Fix: fix build error
  src/features/beta-program/services/analytics/AnalyticsService.js
Owners: @TourGuideAI/developers

Docs: update main project README.md
  README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Docs: change mdc ruler trigger
  .cursor/rules/thinking-protocols.mdc
Owners: @TourGuideAI/developers

Feat: organize 1.0.0 rc2 release
  .cursor/.milestones
  .cursor/.project
  .cursor/.todos
  docs/project_lifecycle/all_tests/plans/project.test.stabilization-plan.md
  docs/project_lifecycle/deployment/security/project.security-hardening-checklist.md
  docs/project_lifecycle/version_control/records/project.rc1.1.0.0.release-plan.md
  docs/project_lifecycle/version_control/records/project.rc2.1.0.0.release-plan.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

Feat: add Jest configurations for backend, frontend, and integration tests; remove deprecated frontend config file
  .gitignore
  tests/config/jest.frontend.config.js
  tests/config/jest/backend.config.js
  tests/config/jest/frontend.config.js
  tests/config/jest/integration.config.js
Owners: @TourGuideAI/developers

Feat: complete Phase 8 tasks, left tests and documentation unfinished
  .cursor/.milestones
  .cursor/.project
  deployment/production/Dockerfile.backend
  deployment/production/Dockerfile.frontend
  deployment/production/deploy.sh
  deployment/production/docker-compose.yml
  deployment/production/nginx.conf
  deployment/production/prometheus.yml
  docs/project_lifecycle/process_monitors/plans/project.phase6-beta-release-plan.md
  docs/project_lifecycle/process_monitors/plans/project.phase7-post-beta-enhancements-plan.md
  docs/project_lifecycle/process_monitors/plans/project.phase8-completion-summary.md
  src/components/Navbar.css
  src/components/Navbar.js
  src/contexts/AuthContext.js
  src/contexts/NotificationContext.js
  src/services/storage/CacheService.js
  src/services/storage/LocalStorageService.js
  src/services/storage/SyncService.js
  src/tests/components/ui/Timeline.test.js
  tests/config/jest/frontend.config.js
  tests/config/mocks/componentMocks.js
  tests/config/mocks/serviceMocks.js
Owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/tech-writers, @TourGuideAI/frontend-team

Docs: update references to the new files
  README.md
  deployment/production/README.md
  docs/project.document-inventory.md
  docs/project_lifecycle/deployment/plans/project.cdn-implementation-plan.md
  docs/project_lifecycle/deployment/security/project.security-hardening-checklist.md
  docs/project_lifecycle/version_control/records/project.rc2.1.0.0.release-plan.md
  src/contexts/README.md
  tests/config/README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Docs: enhance deployment strategy and infrastructure documentations
  .cursor/.milestones
  .cursor/.project
  .cursor/.todos
  .cursor/.workflows
  README.md
  docs/project_lifecycle/deployment/plans/project.deployment-preparation-checklist.md
  docs/project_lifecycle/deployment/plans/project.deployment-strategy.md
  docs/project_lifecycle/knowledge/project.lessons.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

Docs: update deplyment description in the workflow
  .cursor/.workflows
Owners: @TourGuideAI/developers

Docs: update README and CI/CD workflows to reflect infrastructure readiness checks and enhanced deployment strategies
  .github/workflows/INFRASTRUCTURE_AWARENESS.md
  .github/workflows/INFRASTRUCTURE_DEPENDENCY_SOLUTION.md
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/scripts/run-github-tests.sh
  .github/workflows/stability-tests.yml
  README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/devops-team

Docs: adjust rulder trigger way
  .cursor/rules/project-workflow-check.mdc
  .cursor/rules/thinking-protocols.mdc
Owners: @TourGuideAI/developers

Fix: fix failed tests when execute github scan scripts
  package.json
  src/features/beta-program/components/analytics/HeatmapVisualization.jsx
  src/tests/components/analytics/HeatmapVisualization.test.js
  src/tests/components/api/ApiStatus.test.js
  src/tests/components/onboarding/setup.test.js
  src/tests/components/router/RouterStructure.test.js
  src/tests/components/theme/ThemeProvider.test.js
  src/tests/components/travel-planning/RouteGenerator.test.js
Owners: @TourGuideAI/developers

Enhance: update Jest configurations, improve CI/CD workflows with frontend and backend tests, and refactor email route permissions
  .github/workflows/ci-cd.yml
  .github/workflows/scripts/run-github-tests.sh
  package.json
  server/routes/emails.js
  server/tests/auth.test.js
  src/components/LoadingProvider.js
  src/core/services/storage/CacheService.test.js
  src/services/storage/LocalStorageService.test.js.skip
  src/services/storage/SyncService.test.js.skip
  src/setupTests.js
  src/tests/components/analytics/HeatmapVisualization.test.js
  src/tests/components/onboarding/OnboardingFlow.test.js
  src/tests/components/onboarding/UserProfileSetup.test.js
  src/tests/components/onboarding/setup.test.js
  src/tests/components/router/RouterStructure.test.js
  src/tests/components/travel-planning/RoutePreview.test.js
  src/tests/stability/analytics-components-stability.test.js
  test-results/.last-run.json
Owners: @TourGuideAI/devops-team, @TourGuideAI/developers, @TourGuideAI/backend-team, @TourGuideAI/frontend-team

Fix: fix github ci/cd errors
  .github/workflows/ci-cd.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/security-scan.yml
  .github/workflows/stability-tests.yml
  README.md
  test-results/.last-run.json
Owners: @TourGuideAI/devops-team, @TourGuideAI/tech-writers, @TourGuideAI/developers

Docs: update code structure to align with the actual codebase
  ARCHITECTURE.md
  README.md
  scripts/README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Docs: add ignore path
  .gitignore
Owners: @TourGuideAI/developers

Docs: update coverage test results
  server/coverage/clover.xml
  server/coverage/lcov-report/index.html
  server/coverage/lcov.info
Owners: @TourGuideAI/backend-team

Fix: fix github ci/cd build and test error
  src/components/Timeline/TimelineComponent.test.js
  src/core/services/storage/LocalStorageService.test.js
  src/services/storage/CacheService.test.js.skip
  src/tests/api/routeFunctions.test.js
  src/tests/components/onboarding/OnboardingFlow.test.js
  src/tests/components/router/RouterStructure.test.js
  src/tests/components/travel-planning/ItineraryBuilder.test.js
  src/tests/components/travel-planning/RoutePreview.test.js
Owners: @TourGuideAI/frontend-team, @TourGuideAI/developers

Init: new mvp demo branch
  MVP-DEPLOYMENT.md
  Procfile
  package-lock.json
  package.json
  server/mvp-server.js
  src/App-Full.js
  src/App.js
  src/components/auth/Login.js
  src/contexts/AuthContext.js
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/backend-team, @TourGuideAI/frontend-team

Feat: disable additional functions and keep prototype clean
  package-lock.json
  package.json
  src/App-MVP.js
Owners: @TourGuideAI/developers

Refactor: update dependencies, enhance app structure, and simplify routing for MVP
  package-lock.json
  package.json
  src/App-Full.js
  src/App-MVP.js
  src/App.js
Owners: @TourGuideAI/developers

Docs: merge similar documentations into main readme.md
  .cursor/.todos
  MVP-DEPLOYMENT.md
  README.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

Docs: del out-date records
  .cursor/.project
  .cursor/.todos
Owners: @TourGuideAI/developers

Docs: update project phase 8 priorities and main tragets
  .cursor/.milestones
  .cursor/.project
  .cursor/.todos
Owners: @TourGuideAI/developers

Docs: add documentations for mvp release
  docs/project_lifecycle/deployment/records/project.mvp-launch-checklist.md
  docs/project_lifecycle/deployment/records/project.mvp-quick-deployment-guide.md
  docs/project_lifecycle/deployment/records/project.mvp-user-quick-start-guide.md
  docs/project_lifecycle/deployment/records/project.mvp_lanuch_summary.md
Owners: @TourGuideAI/tech-writers

Feat: set mvprelease configuration
  .cursor/.project
  .cursor/.todos
  env.production.template
  package-lock.json
  package.json
  railway.json
  scripts/deploy-mvp.sh
  server/coverage/clover.xml
  server/coverage/lcov-report/index.html
  server/coverage/lcov.info
  server/mvp-server.js
  src/components/Navbar.css
  src/components/Navbar.js
  src/components/common/ContactSupport.js
  vercel.json
Owners: @TourGuideAI/developers, @TourGuideAI/backend-team, @TourGuideAI/frontend-team

Docs: update test suite stabilization details, enhance documentation for MVP launch, and address dev dependencies security management
  .cursor/.milestones
  .cursor/.project
  .cursor/.todos
  docs/project_lifecycle/knowledge/project.lessons.md
  src/tests/components/travel-planning/ItineraryBuilder.test.js
  src/tests/components/travel-planning/RoutePreview.test.js
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

Docs: modify env file
  .gitignore
  env.production.template
Owners: @TourGuideAI/developers

Feat: update streamline deployment instructions, and enhance security guidelines
  .cursor/.project
  .env.example
  .github/workflows/mvp-release.yml
  scripts/deploy-mvp.sh
  scripts/deploy.sh
  server/mvp-server.js
Owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/backend-team

Docs: update deployment documentation
  README.md
  docs/project.document-inventory.md
  docs/project_lifecycle/deployment/plans/project.deployment-strategy.md
  docs/project_lifecycle/version_control/records/project.mvp.1.0.0.release-checklist.md
  scripts/README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Release: update versioning to 1.0.0-MVP across all relevant files, reflecting the completion of MVP optimizations and deployment readiness
  README.md
  docs/project_lifecycle/version_control/records/project.versions.md
  package-lock.json
  package.json
  scripts/deploy-mvp.sh
  server/package-lock.json
  server/package.json
  src/services/storage/CacheService.test.js.skip
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/backend-team

Fix: fix google map function call
  server/coverage/clover.xml
  server/coverage/lcov-report/index.html
  server/coverage/lcov.info
  src/pages/MapPage.js
  src/pages/ProfilePage.js
Owners: @TourGuideAI/backend-team, @TourGuideAI/frontend-team

Fix: fix function index error
  src/pages/MapPage.js
Owners: @TourGuideAI/frontend-team

Docs: update to new version
  README.md
  docs/project_lifecycle/version_control/records/project.versions.md
  package-lock.json
  package.json
  scripts/deploy-mvp.sh
  server/coverage/lcov-report/routeGenerationService.js.html
  server/package-lock.json
  server/package.json
  src/services/storage/CacheService.test.js.skip
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/backend-team
