Repository PaperStrange/TourGuideAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/security-team, @TourGuideAI/frontend-team, @TourGuideAI/backend-team, @TourGuideAI/tech-writers, @TourGuideAI/tech-leads

feat(content): derive expanded Shijo street context from frozen map evidence
  experience/content-tools/build-street-context.mjs
  experience/docs/content-contract.md
  experience/docs/facade-references.md
  experience/public/content-evidence/street-context.json
  experience/public/credits.html
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

feat(design): localize street comparison and multi-format sharing in English and Chinese
  experience/docs/immersion.md
  experience/src/ui/i18n.js
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat: preview and share walks as web links, images and printable recaps
  experience/README.md
  experience/docs/architecture.md
  experience/journey.html
  experience/src/app/field-notes.js
  experience/src/app/journey-reader.js
  experience/src/app/main.js
  experience/src/app/recap.css
  experience/src/app/share-dialog.js
  experience/src/app/share.js
  experience/src/ui/assets/font-manifest.json
  experience/src/ui/assets/kyoto-sans.woff
  experience/src/ui/styles.css
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(rendering): compare live PBR and Blender views with matched cameras
  experience/comparison.html
  experience/src/comparison/main.js
  experience/src/comparison/manifest.js
  experience/src/comparison/study-renderer.js
  experience/src/comparison/styles.css
  experience/src/runtime/world-view.js
  experience/vite.config.js
Owners: @TourGuideAI/developers

test: verify sharing formats, read-only recaps and matched rendering views
  experience/docs/validation.md
  experience/tests/browser-check.mjs
  experience/tests/browser-comparison.mjs
  experience/tests/browser-sharing.mjs
  experience/tests/journey.test.mjs
  experience/tests/share.test.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(content): continue street context with two tracked eastern footprints
  experience/content-tools/build-street-context.mjs
  experience/docs/content-contract.md
  experience/docs/facade-references.md
  experience/public/content-evidence/street-context.json
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

ci: avoid repeating experience browser runs for documentation-only updates
  .github/workflows/README.md
  .github/workflows/experience.yml
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/devops-team

test: cover street context occlusion and sharing during scene loading
  experience/docs/validation.md
  experience/tests/browser-check.mjs
  experience/tests/browser-comparison.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(rendering): preserve walking visibility around expanded context buildings
  experience/src/comparison/main.js
  experience/src/comparison/manifest.js
  experience/src/comparison/study-renderer.js
  experience/src/runtime/world-view.js
Owners: @TourGuideAI/developers

docs(content): distinguish sourced streets from authored rendering context
  experience/docs/content-contract.md
  experience/docs/facade-references.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix: revalidate scene assets when loading a published revision
  experience/src/runtime/world-view.js
Owners: @TourGuideAI/developers

feat(art): rebuild sourced street structures and render three matched Blender views
  experience/art/build_scene.py
  experience/art/render_study.py
  experience/docs/art-direction.md
  experience/public/models/provenance.json
  experience/public/models/shijo-block.glb
  experience/public/models/traveller.glb
  experience/public/render-study/daiya-frontage.png
  experience/public/render-study/intersection.png
  experience/public/render-study/manifest.json
  experience/public/render-study/mitsui-frontage.png
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

Publish expanded street comparison and multi-format sharing from 6a532aa
  assets/THIRD-PARTY-NOTICES-DtGpLEj6.js
  assets/THIRD-PARTY-NOTICES-DtGpLEj6.js.map
  assets/comparison-DrDKEgga.css
  assets/comparison-xnbYqFyc.js
  assets/comparison-xnbYqFyc.js.map
  assets/i18n-BIzjNfWM.js
  assets/i18n-BIzjNfWM.js.map
  assets/index-BJ8YGBMf.css
  assets/index-BaUP8L_C.css
  assets/index-DHReIO-L.js
  assets/index-DHReIO-L.js.map
  assets/index-oHypahSG.js
  assets/index-oHypahSG.js.map
  assets/journey-CtHQZs8n.js
  assets/journey-CtHQZs8n.js.map
  assets/kyoto-sans-B-r8Uim3.woff
  assets/kyoto-sans-gNU7LMFv.woff
  assets/share-Byp_LSW1.js
  assets/share-Byp_LSW1.js.map
  assets/share-CZpE4TJe.css
  comparison.html
  content-evidence/street-context.json
  credits.html
  journey.html
  models/provenance.json
  models/shijo-block.glb
  models/traveller.glb
  render-study/daiya-frontage.png
  render-study/intersection.png
  render-study/manifest.json
  render-study/mitsui-frontage.png
  review-build.json
Owners: @TourGuideAI/developers

ci(experience): allow bounded software-renderer walkthrough headroom
  .github/workflows/experience.yml
Owners: @TourGuideAI/devops-team

docs(qa): preserve the referenced CI timeout log
  experience/evidence/detail-study-20261006/ci-initial-timeout.log
Owners: @TourGuideAI/developers

docs(plan): define day and night lighting sprint and shared ownership
  experience/docs/iteration.md
  iteration/design/SOW.md
  iteration/design/delivery-board.md
  iteration/design/file-ownership.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(assets): add licensed urban HDR environments and lighting research
  experience/docs/lighting-resources.md
  experience/public/credits.html
  experience/public/lighting/environments/day-1k.hdr
  experience/public/lighting/environments/night-1k.hdr
  experience/public/lighting/resources.json
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(rendering): share authored HDR lighting between game and comparison
  experience/public/lighting/rig.json
  experience/src/comparison/main.js
  experience/src/comparison/manifest.js
  experience/src/comparison/study-renderer.js
  experience/src/comparison/styles.css
  experience/src/runtime/create-game.js
  experience/src/runtime/lighting-contract.js
  experience/src/runtime/lighting-fallback.js
  experience/src/runtime/lighting.js
  experience/src/runtime/world-view.js
Owners: @TourGuideAI/developers

test(lighting): cover mode state, resource recovery and matched day-night views
  experience/tests/appearance.test.mjs
  experience/tests/browser-appearance.mjs
  experience/tests/browser-check.mjs
  experience/tests/browser-comparison.mjs
  experience/tests/browser-sharing.mjs
  experience/tests/lighting.test.mjs
Owners: @TourGuideAI/developers

feat(experience): add bilingual daylight and night controls with separate preferences
  experience/docs/immersion.md
  experience/src/app/appearance.js
  experience/src/app/main.js
  experience/src/ui/assets/font-manifest.json
  experience/src/ui/assets/kyoto-sans.woff
  experience/src/ui/i18n.js
  experience/src/ui/styles.css
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(comparison): require complete matched daylight and night artifacts
  experience/src/comparison/main.js
  experience/src/comparison/manifest.js
  experience/tests/browser-appearance.mjs
  experience/tests/browser-comparison.mjs
  experience/tests/comparison-manifest.test.mjs
Owners: @TourGuideAI/developers

feat(art): deliver six matched day and night Cycles views
  experience/art/render_study.py
  experience/public/render-study/daiya-frontage-day.png
  experience/public/render-study/daiya-frontage-night.png
  experience/public/render-study/daiya-frontage.png
  experience/public/render-study/intersection-day.png
  experience/public/render-study/intersection-night.png
  experience/public/render-study/intersection.png
  experience/public/render-study/manifest.json
  experience/public/render-study/mitsui-frontage-day.png
  experience/public/render-study/mitsui-frontage-night.png
  experience/public/render-study/mitsui-frontage.png
Owners: @TourGuideAI/developers

docs(product): explore shared perspectives beyond the initial SOW
  experience/README.md
  experience/docs/immersion.md
  experience/docs/iteration.md
  experience/docs/positioning.md
  experience/docs/recognition-study.md
  experience/docs/validation.md
  experience/evidence/recognition-selection-20261007/README.md
  experience/evidence/recognition-selection-20261007/reference.json
  experience/evidence/recognition-selection-20261007/wako-2024.jpg
  iteration/design/SOW.md
  iteration/design/delivery-board.md
  iteration/design/file-ownership.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(strategy): evaluate city and country travel solutions
  experience/README.md
  experience/docs/city-country-strategy.md
  experience/docs/immersion.md
  experience/docs/iteration.md
  experience/docs/positioning.md
  iteration/design/SOW.md
  iteration/design/delivery-board.md
  iteration/design/file-ownership.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

art: add matched live-view plates with capture provenance
  experience/public/perspectives/arrive.jpg
  experience/public/perspectives/daiya-rhythm.jpg
  experience/public/perspectives/manifest.json
  experience/public/perspectives/mitsui-rhythm.jpg
Owners: @TourGuideAI/developers

copy: add bilingual perspective guidance and sharing language
  experience/src/perspective/copy.js
Owners: @TourGuideAI/developers

plan: sequence lean perspective, city and corridor sprints
  experience/docs/lean-iteration.md
  iteration/design/delivery-board.md
  iteration/design/file-ownership.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

runtime: support isolated perspective walking and saved camera poses
  experience/src/perspective/live-view.js
  experience/src/runtime/camera.js
  experience/src/runtime/create-game.js
  experience/src/runtime/view-state.js
  experience/src/runtime/world-view.js
Owners: @TourGuideAI/developers

content: author three bilingual Kyoto perspective moments
  experience/src/content/perspectives.js
Owners: @TourGuideAI/developers

experience: deliver discover, save and share perspective journey
  experience/README.md
  experience/docs/architecture.md
  experience/package.json
  experience/perspective.html
  experience/src/app/main.js
  experience/src/perspective/main.js
  experience/src/perspective/share.js
  experience/src/perspective/state.js
  experience/src/perspective/styles.css
  experience/src/ui/assets/font-manifest.json
  experience/src/ui/assets/kyoto-sans.woff
  experience/tools/build-font.py
  experience/vite.config.js
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

ui: retain bundled Chinese headings with Latin typography polish
  experience/src/perspective/styles.css
Owners: @TourGuideAI/developers

ci: validate both travel experiences and preserve browser evidence
  .github/workflows/README.md
  .github/workflows/experience.yml
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/devops-team

test: verify bilingual perspective walking, privacy and recovery
  experience/tests/browser-perspective.mjs
  experience/tests/perspective.test.mjs
Owners: @TourGuideAI/developers

ci: run original and perspective browser checks in parallel
  .github/workflows/README.md
  .github/workflows/experience.yml
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers, @TourGuideAI/devops-team

test: account for browser float32 transform precision
  experience/tests/browser-perspective.mjs
Owners: @TourGuideAI/developers

plan: prepare neutral bilingual experience review sessions
  experience/docs/lean-iteration.md
  experience/docs/perspective-review.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

ui: fit the new experience link into the original compact sidebar
  experience/src/app/main.js
  experience/src/ui/assets/font-manifest.json
Owners: @TourGuideAI/developers

.github/CODEOWNERS:

# TourGuideAI CODEOWNERS File
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
*                   @TourGuideAI/developers

# Infrastructure and workflow files
.github/workflows/   @TourGuideAI/devops-team
terraform/           @TourGuideAI/devops-team
docker/              @TourGuideAI/devops-team
*.yml                @TourGuideAI/devops-team

# Security sensitive areas
/auth/               @TourGuideAI/security-team
/src/utils/security/ @TourGuideAI/security-team
/server/api/auth/    @TourGuideAI/security-team

# Frontend components
/src/components/     @TourGuideAI/frontend-team
/src/pages/          @TourGuideAI/frontend-team
/styles/             @TourGuideAI/frontend-team

# Backend services
/server/             @TourGuideAI/backend-team
/api/                @TourGuideAI/backend-team
/database/           @TourGuideAI/backend-team

# Documentation
*.md                 @TourGuideAI/tech-writers @TourGuideAI/developers
/docs/               @TourGuideAI/tech-writers

# Special branch naming patterns
# Feature branches require review from both developers and the relevant team
feat-*               @TourGuideAI/developers @TourGuideAI/tech-leads

# Release branches require additional review and are critical
release-*            @TourGuideAI/developers @TourGuideAI/devops-team @TourGuideAI/tech-leads
