Repository PaperStrange/TourGuideAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/security-team, @TourGuideAI/frontend-team, @TourGuideAI/backend-team, @TourGuideAI/tech-writers, @TourGuideAI/tech-leads

.github/CODEOWNERS:

# TourGuideAI CODEOWNERS File
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
*                   @TourGuideAI/developers

# Infrastructure and workflow files
.github/workflows/   @TourGuideAI/devops-team
terraform/           @TourGuideAI/devops-team
docker/              @TourGuideAI/devops-team
*.yml                @TourGuideAI/devops-team

# Security sensitive areas
/auth/               @TourGuideAI/security-team
/src/utils/security/ @TourGuideAI/security-team
/server/api/auth/    @TourGuideAI/security-team

# Frontend components
/src/components/     @TourGuideAI/frontend-team
/src/pages/          @TourGuideAI/frontend-team
/styles/             @TourGuideAI/frontend-team

# Backend services
/server/             @TourGuideAI/backend-team
/api/                @TourGuideAI/backend-team
/database/           @TourGuideAI/backend-team

# Documentation
*.md                 @TourGuideAI/tech-writers @TourGuideAI/developers
/docs/               @TourGuideAI/tech-writers

# Special branch naming patterns
# Feature branches require review from both developers and the relevant team
feat-*               @TourGuideAI/developers @TourGuideAI/tech-leads

# Release branches require additional review and are critical
release-*            @TourGuideAI/developers @TourGuideAI/devops-team @TourGuideAI/tech-leads

fix(hygiene): give the info status its own label, so an informational rule stops printing FAIL
  iteration/tools/check-repo-hygiene.mjs
Owners: @TourGuideAI/developers

docs(board): S2 met -- clean-clone 10/10, and the fact layer grew to 22 places / 9 legs
  iteration/design/delivery-board.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(recon): the 12-door reality check, four defects it found, and a 5-minute human checklist
  iteration/design/repo-defect-registry.md
  iteration/recon/DOOR-CHECKLIST-for-human.md
  iteration/recon/door-reality-check.md
  iteration/recon/verify-kyoto-shijo/v11-exit-gap.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(board): S1 answered on capacity, S3 unblocked, and the door question handed back with a checklist
  iteration/design/delivery-board.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(design): door type model v2, and v1 is kept because its error is instructive
  iteration/design/door-type-model.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(gates): an eleventh gate over real geometry, and three defects it found
  iteration/design/repo-defect-registry.md
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs: D-31 fare-by-lookup-only, D-32 the three shapes a gap note can fail in
  iteration/design/delivery-board.md
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(board): two rounds of drift, corrected -- and the board now names its own blind spot
  city-packs/kyoto-shijo/attestations/block-doors.json
  city-packs/kyoto-shijo/doors.json
  city-packs/kyoto-shijo/evidence/kyoto-subway-fare-normal.html
  city-packs/kyoto-shijo/evidence/kyoto-subway-fare-normal.txt
  city-packs/kyoto-shijo/evidence/kyoto-subway-fare-table.pdf
  city-packs/kyoto-shijo/evidence/kyoto-subway-fare-table.txt
  city-packs/kyoto-shijo/evidence/kyoto-webguide-disp_tika_fare.js
  city-packs/kyoto-shijo/evidence/kyoto-webguide-subway-fare.html
  city-packs/kyoto-shijo/evidence/kyoto-webguide-subway-fare.txt
  city-packs/kyoto-shijo/evidence/osm-eastarea-busstops.json
  city-packs/kyoto-shijo/evidence/subway-rosenzu.html
  city-packs/kyoto-shijo/evidence/subway-rosenzu.txt
  city-packs/kyoto-shijo/evidence/subway-route.html
  city-packs/kyoto-shijo/evidence/subway-route.txt
  city-packs/kyoto-shijo/evidence/subway-route2.html
  city-packs/kyoto-shijo/evidence/subway-route2.txt
  city-packs/kyoto-shijo/evidence/subway-zones.json
  city-packs/kyoto-shijo/evidence/tools/.build-before.json
  city-packs/kyoto-shijo/evidence/tools/.gitignore
  city-packs/kyoto-shijo/evidence/tools/apply-f3-corrections.mjs
  city-packs/kyoto-shijo/evidence/tools/block-doors.json
  city-packs/kyoto-shijo/evidence/tools/build-pack.mjs
  city-packs/kyoto-shijo/evidence/tools/check-build-lossless.mjs
  city-packs/kyoto-shijo/evidence/tools/decode-subway-zones.mjs
  city-packs/kyoto-shijo/evidence/tools/fix-place-keys.mjs
  city-packs/kyoto-shijo/evidence/tools/merge-pack-meta.mjs
  city-packs/kyoto-shijo/evidence/tools/places.meta.json
  city-packs/kyoto-shijo/evidence/tools/transit.meta.json
  city-packs/kyoto-shijo/pack.json
  city-packs/kyoto-shijo/validate-doors.mjs
  iteration/design/delivery-board.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

feat(scene,doors): 11/11 gates -- real geometry clipped, and a hard-coded enum copy removed
  docs/handOff/dsh-bundle-tourguide-2.5d/tools/world-grid.mjs
  iteration/design/contract-geo-pipeline.md
  iteration/tools/.probe-tmp.mjs
  iteration/tools/emit-scene.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

correct(scene): the previous commit message said 11/11 and the truth was 10/11
  iteration/design/contract-export.md
  iteration/design/contract-geo-pipeline.md
  iteration/design/repo-defect-registry.md
  iteration/tools/.probe-tmp.mjs
  iteration/tools/check-doors-enum.mjs
  iteration/tools/emit-guide.mjs
  iteration/tools/emit-scene.mjs
  iteration/tools/validate-guide.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(registry): D-34 -- the world's principal street does not fit inside the world
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(scene,doors,guide): 12 gates -- the world's street fits, the doors follow the datum, and the export has content
  city-packs/kyoto-shijo/doors.json
  city-packs/kyoto-shijo/kyoto-shijo-osm.json
  docs/handOff/dsh-bundle-tourguide-2.5d/tools/world-grid.mjs
  iteration/design/contract-export.md
  iteration/design/contract-geo-pipeline.md
  iteration/design/delivery-board.md
  iteration/design/repo-defect-registry.md
  iteration/tools/check-guide-trace.mjs
  iteration/tools/emit-guide.mjs
  iteration/tools/emit-scene.mjs
  iteration/tools/run-gates.mjs
  iteration/tools/validate-guide.mjs
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

fix(gates): the guide gate bakes what it validates, so a clean checkout can run it
  iteration/tools/gate-guide.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

docs(contract): the datum method, the renamed constant, and the non-monotonicity correction
  iteration/design/contract-geo-pipeline.md
  iteration/tools/emit-scene.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(scope): Gate 1 does not require twelve interiors, and I had been reading it as if it did
  iteration/design/gate1-scope.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(gates): a thirteenth gate -- scene.bin read from its bytes by a reader that is not the emitter
  city-packs/kyoto-shijo/evidence/tools/apply-f2-corrections.mjs
  city-packs/kyoto-shijo/evidence/tools/restore-temple-legs.mjs
  city-packs/kyoto-shijo/places.json
  city-packs/kyoto-shijo/transit.json
  city-packs/kyoto-shijo/validate-city-pack-v2.mjs
  iteration/design/repo-defect-registry.md
  iteration/tools/gate-scene-read.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

fix(gates): the scene-read gate bakes its own input, because gate ORDER is not a dependency
  iteration/tools/gate-scene-read.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

docs(scope): Gate 1's acceptance criteria, with the human half not disguised as the mechanical half
  iteration/design/gate1-acceptance.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(scope): correct the last stale figure in the acceptance criteria
  iteration/design/gate1-acceptance.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(viewer): the world is walked -- x=1599 of 1599 -- and all twelve doors are walls
  .gitignore
  iteration/tools/bake-viewer.mjs
  iteration/tools/check-viewer-page.mjs
  iteration/tools/check-viewer.mjs
  iteration/tools/run-gates.mjs
  iteration/viewer/README.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

docs(registry): D-40 -- twelve doors, zero enterable -- and D-41, correct and useless
  iteration/design/gate1-acceptance.md
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(gates): the page check bakes what it validates, and the untracked page stops being a dependency
  iteration/tools/check-viewer-page.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

fix(gates): ninth instance of one shape -- the viewer gate now bakes every input it needs
  iteration/tools/check-viewer.mjs
  iteration/tools/find-untracked-deps.mjs
Owners: @TourGuideAI/developers

fix(gates): the viewer check bakes the page too, so a clean clone has every input
  iteration/tools/check-viewer.mjs
Owners: @TourGuideAI/developers

docs(design): D-42 -- there IS space behind the doors, it just is not an interior, and the two sides differ
  iteration/design/d42-corridor-capacity.md
  iteration/design/gate1-acceptance.md
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(design): the shape of the door-to-scene dependency, before anyone implements it
  iteration/design/scene-door-dependency.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(board): six rounds of drift, corrected against the commands rather than my memory
  iteration/design/delivery-board.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(gates): a sixteenth gate for duplicated constants -- and it found one of mine plus two readers that could not see a format change
  iteration/design/repo-defect-registry.md
  iteration/tools/check-duplicate-constants.mjs
  iteration/tools/check-guide-trace.mjs
  iteration/tools/emit-guide.mjs
  iteration/tools/emit-scene.mjs
  iteration/tools/gate-scene-read.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(registry): D-45 -- the south side is internally inconsistent, and my option A was described misleadingly
  iteration/design/d42-corridor-capacity.md
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(gates): a second pass for the duplicate-constant gate, because the first pass found 2 of 5
  iteration/design/repo-defect-registry.md
  iteration/tools/check-duplicate-constants.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(viewer): 16/16 -- the last two stale criteria, and a fourth instance of D-44 hiding in the gate that was failing
  iteration/tools/bake-viewer.mjs
  iteration/tools/check-duplicate-constants.mjs
  iteration/tools/check-viewer-page.mjs
  iteration/tools/check-viewer.mjs
  iteration/tools/emit-guide.mjs
  iteration/tools/emit-scene.mjs
  iteration/tools/gate-scene-read.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/developers

docs(registry): D-47 -- the content fits, so 'the south has no space' is a placement claim, not a capacity claim
  iteration/design/repo-defect-registry.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(tools): Gate 1's status as one command, with the human half refused rather than faked
  iteration/tools/gate-gate1.mjs
Owners: @TourGuideAI/developers

feat(tools): detect the stale link between an observed door and the world that describes it
  iteration/tools/gate-gate1.mjs
Owners: @TourGuideAI/developers

docs(acceptance): disambiguate 'enterable', which means two different things in this project
  iteration/design/gate1-acceptance.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(recon): evidence inventory -- listed, not moved, with my own miscounts corrected
  iteration/recon/door-positions-textual-sources.md
  iteration/recon/evidence-inventory.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs(recon): I had missed an entire evidence store -- docs/handOff/evidence, 14 files
  iteration/recon/evidence-inventory.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

feat(norm): the storage norm as a gate that can fail, plus the licence register that wires six orphaned files
  .dsh/artifacts/README.md
  .gitignore
  city-packs/kyoto-shijo/evidence/tenant-daiya-building-listing.html
  city-packs/kyoto-shijo/evidence/tenant-daiya-building-listing.txt
  city-packs/kyoto-shijo/evidence/tenant-kamakura-shijo-karasuma.html
  city-packs/kyoto-shijo/evidence/tenant-kamakura-shijo-karasuma.txt
  city-packs/kyoto-shijo/evidence/tools/VERBATIM.json
  iteration/design/handoff-evidence-baseline.json
  iteration/design/licence-register.md
  iteration/tools/gate-artifact-layout.mjs
  iteration/tools/run-gates.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

fix(norm): the handoff baseline was this machine's line endings, and a clean clone proved it
  iteration/design/handoff-evidence-baseline.json
  iteration/tools/gate-artifact-layout.mjs
Owners: @TourGuideAI/developers

test(norm): give the frozen-handoff guard its own regression test, because my first test of it was wrong
  iteration/tools/gate-artifact-layout.mjs
Owners: @TourGuideAI/developers
