Repository PaperStrange/TourGuideAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TourGuideAI/developers, @TourGuideAI/devops-team, @TourGuideAI/security-team, @TourGuideAI/frontend-team, @TourGuideAI/backend-team, @TourGuideAI/tech-writers, @TourGuideAI/tech-leads

.github/CODEOWNERS:

# TourGuideAI CODEOWNERS File
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
*                   @TourGuideAI/developers

# Infrastructure and workflow files
.github/workflows/   @TourGuideAI/devops-team
terraform/           @TourGuideAI/devops-team
docker/              @TourGuideAI/devops-team
*.yml                @TourGuideAI/devops-team

# Security sensitive areas
/auth/               @TourGuideAI/security-team
/src/utils/security/ @TourGuideAI/security-team
/server/api/auth/    @TourGuideAI/security-team

# Frontend components
/src/components/     @TourGuideAI/frontend-team
/src/pages/          @TourGuideAI/frontend-team
/styles/             @TourGuideAI/frontend-team

# Backend services
/server/             @TourGuideAI/backend-team
/api/                @TourGuideAI/backend-team
/database/           @TourGuideAI/backend-team

# Documentation
*.md                 @TourGuideAI/tech-writers @TourGuideAI/developers
/docs/               @TourGuideAI/tech-writers

# Special branch naming patterns
# Feature branches require review from both developers and the relevant team
feat-*               @TourGuideAI/developers @TourGuideAI/tech-leads

# Release branches require additional review and are critical
release-*            @TourGuideAI/developers @TourGuideAI/devops-team @TourGuideAI/tech-leads

deps gate: v16 needed no page, so it no longer reads one
  iteration/recon/verify-kyoto-shijo/v16-openings-share.mjs
Owners: @TourGuideAI/developers

v16: the second leftover reference, which my previous commit claimed to have removed and had not
  iteration/recon/verify-kyoto-shijo/v16-openings-share.mjs
Owners: @TourGuideAI/developers

SOW R2-double-prime: a tracked script's author must judge whether a read is necessary before writing it
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: the four corrections that were never written, landed with edit and verified by reading
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: the openings layer is not an ornament, and my own wording was the error fact-verifier had just corrected for me
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: the confirmation round's second pass -- a false provenance fact, a half-landed rename, a wrong filename
  iteration/design/SOW.md
  iteration/design/play-systems.md
  iteration/recon/verify-kyoto-shijo/probe-absent.mjs
  iteration/recon/verify-kyoto-shijo/v15-scene-bytes.mjs
  iteration/recon/verify-kyoto-shijo/v17-dependency-audit.mjs
  iteration/recon/verify-kyoto-shijo/v18-sow-integrity.mjs
  iteration/tools/bake-viewer.mjs
  iteration/tools/check-viewer-page.mjs
  iteration/tools/check-viewer.mjs
  iteration/tools/viewer-interaction.mjs
  iteration/viewer/README.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW R5-prime: a verification result must record the sha256 of the file it verified, without an automatic stale marker
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: the dual of section 4.3 item 5, with the evidence strength its author could actually prove
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: section 4.1's table repaired, 3a's enforcement boundary stated, and fact-verifier's version-anchor table
  iteration/design/SOW.md
  iteration/recon/fact-verification-kyoto-shijo.md
  iteration/recon/verify-kyoto-shijo/v19-absent-input-shape.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: section 12 items five and seven rewritten to present a question the user can actually answer
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: four hard errors the reviewers found, three of them mine and one a wrong quote
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW R2-quadruple-prime: break-to-verify, and the finer thing its three false greens taught
  iteration/design/SOW.md
  iteration/design/play-systems.md
  iteration/tools/bake-viewer.mjs
  iteration/tools/check-viewer-page.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

P16 gains a precondition, and the fire drill that found three ways to be green
  iteration/tools/bake-viewer.mjs
  iteration/tools/check-viewer-page.mjs
Owners: @TourGuideAI/developers

SOW: break-to-verify has two failure forms, not one, and the reviewer proved it against my merge
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: the unexplained break was state leaking between checks, and the reviewer narrowed it rather than theorising it
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Split the SOW into three files: what to build, how to build, and where we are
  iteration/design/SOW.md
  iteration/design/engineering-rules.md
  iteration/design/status.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Section 10 becomes the acceptance table the standard structure calls for, and it exposes a structural defect
  iteration/design/SOW.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

A local server for the viewer, and the P1 trial instructions, so the user can actually try it
  iteration/tools/serve-viewer.mjs
  iteration/viewer/P1-trial-instructions.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

Move the audit trail out of the SOW into a changelog, rather than deleting it
  iteration/design/SOW.md
  iteration/design/sow-changelog.md
  iteration/tools/extract-audit.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Delete gate-gate1.mjs: it covered nothing, and my caution about it was based on a category error
  iteration/design/SOW.md
  iteration/tools/gate-gate1.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

status.md: record the gate-gate1 deletion beside the negative state it belongs to
  iteration/design/status.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

P1's first real human result: a clean negative, and the frame is not readable as a place
  iteration/design/p1-trial-01-result.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

The trial's second answer names the real gap: the frame is a floor plan, and the spec says three-quarter
  iteration/design/p1-trial-01-result.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Correcting my own diagnosis: the missing thing is assets, not the projection -- and the asset plan was never wired to anything
  iteration/design/p1-trial-01-result.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW section 4.1a: art design first, then mechanics, then execution -- and the current section sizes say the opposite
  iteration/design/SOW.md
  iteration/design/play-systems.md
  iteration/design/status.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

The carriageway constant is half the measured road: verified independently, and it forces a geometry ruling
  iteration/design/play-systems.md
  iteration/tools/measure-crossings.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

SOW: trim the priority section, and section 6.3 gets the measured width and the three layers
  iteration/design/SOW.md
  iteration/design/carriageway-width-verification.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

no-dup was red on two of my own throwaway scripts, and the width finding is worse than I first wrote
  iteration/design/carriageway-width-verification.md
  iteration/tools/extract-audit.mjs
  iteration/tools/measure-crossings.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

R2-triple-prime: batch scripts must write and print per edit -- and the detector I built for it failed its own test
  iteration/design/engineering-rules.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Restore R2-double-prime, which my previous edit replaced instead of following
  iteration/design/engineering-rules.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

The carriageway conflict has a solution, and it is the cheapest one -- I had written it as an unanswerable either/or
  iteration/design/carriageway-solution-space.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

The projection and the layer sort, as pure functions that assert themselves and fail when broken
  iteration/viewer/project-34.mjs
Owners: @TourGuideAI/developers

Foundation research: melonJS selected on evidence, and what I could not verify is recorded rather than glossed
  iteration/design/foundation-research.md
  package-lock.json
  package.json
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

The V7 gate caught me: my phaser install had written an engine dependency into the root manifest
  package-lock.json
  package.json
Owners: @TourGuideAI/developers

melonJS verified rendering: two official examples run in a real browser, and my earlier 'unverified' is withdrawn
  iteration/design/evidence/melonjs-official-isometric-rpg.png
  iteration/design/evidence/melonjs-official-tiled-map-loader.png
  iteration/design/foundation-research.md
Owners: @TourGuideAI/developers, @TourGuideAI/tech-writers

First frame of the real corridor, at the measured width -- and the layout gate caught my undeclared directory
  iteration/design/evidence/frame-01-real-corridor.png
  iteration/tools/build-world-firstframe.mjs
Owners: @TourGuideAI/developers

Four errors review-src-jp found, two of which were mine: a fabricated example, a fabricated judgement, and a stale field count
  iteration/design/SOW.md
  iteration/design/file-ownership.md
  iteration/design/sow-iteration-log.md
  iteration/design/status.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

Publish verified guided 3D review build from 6641f1a
  .nojekyll
  assets/index-BaUP8L_C.css
  assets/index-DHReIO-L.js
  assets/index-DHReIO-L.js.map
  assets/kyoto-sans-B-r8Uim3.woff
  content-evidence/facade-references.json
  content-evidence/geometry.json
  content-evidence/operator-facts.json
  credits.html
  index.html
  models/provenance.json
  models/shijo-block.glb
  models/traveller.glb
  review-build.json
Owners: @TourGuideAI/developers

docs: provide session-independent review and Pages activation steps
  PREVIEW.md
  README.md
  iteration/design/file-ownership.md
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers

docs: define expanded street comparison and multi-format sharing sprint
  PREVIEW.md
  experience/docs/iteration.md
  iteration/design/SOW.md
  iteration/design/delivery-board.md
  iteration/design/file-ownership.md
  iteration/tools/check-task-ownership.mjs
Owners: @TourGuideAI/tech-writers, @TourGuideAI/developers
